@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root{
    /* variabls declared for COLOURS */
    --white-color: hsl(0,0%,100%);
    --black-color: hsl(0, 0%, 0%);
    
    /* For Fonts */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;

    /* Font Weight */
    --font-medium: 500;
}

/*=========== Base ===========*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, input, button{
    font-size: var(--normal-font-size);  /* 1 rem font size */
    font-family: var(--body-font);
}

body{
    color: var(--white-color);
}

input, button{
    border: none;
    outline: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*=========== Login ===========*/
.login{
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}

.loginImage{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Input focus move on label */

/* Input focus move on label */

/* =========== BreakPoints =========== */
/* For medium devices */